@import '../_templates.scss';

.uiex-popup {
    display: none;

    &.uiex-shown {
        display: block;
    }

    &.uiex-animation-fade {
        @extend %animation-fade;
    }
    &.uiex-animation-float,
    &.uiex-animation-fall {
        @extend %animation-move-fade;
    }
    &.uiex-animation-perspective-top,
    &.uiex-animation-perspective-bottom,
    &.uiex-animation-scale-down,
    &.uiex-animation-scale-up {
        @extend %animation-transform-fade;
    }

    .uiex-popup-inner {
        position: relative;
    }
}