@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('./fonts/glyphicons-halflings-regular.woff2') format('woff2');
}

.uiex-gly {
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.uiex-gly-spin {
  animation: uiex-gly-spin 2s infinite linear;
}
@keyframes uiex-gly-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}
.uiex-gly-flip {
  transform: scaleX(-1);
}
.uiex-gly-flipv {
  transform: scaleY(-1);
}
.uiex-gly-rotate90 {
  transform: rotate(90deg);
}
.uiex-gly-rotate180 {
  transform: rotate(180deg);
}
.uiex-gly-rotate270 {
  transform: rotate(270deg);
}

.uiex-gly-glass:before {
  content: "\E001";
}
.uiex-gly-music:before {
  content: "\E002";
}
.uiex-gly-search:before {
  content: "\E003";
}
.uiex-gly-envelope:before {
  content: "\E004";
}
.uiex-gly-heart:before {
  content: "\E005";
}
.uiex-gly-star:before {
  content: "\E006";
}
.uiex-gly-star-empty:before {
  content: "\E007";
}
.uiex-gly-user:before {
  content: "\E008";
}
.uiex-gly-film:before {
  content: "\E009";
}
.uiex-gly-th-large:before {
  content: "\E010";
}
.uiex-gly-th:before {
  content: "\E011";
}
.uiex-gly-th-list:before {
  content: "\E012";
}
.uiex-gly-ok:before {
  content: "\E013";
}
.uiex-gly-remove:before {
  content: "\E014";
}
.uiex-gly-zoom-in:before {
  content: "\E015";
}
.uiex-gly-zoom-out:before {
  content: "\E016";
}
.uiex-gly-off:before {
  content: "\E017";
}
.uiex-gly-signal:before {
  content: "\E018";
}
.uiex-gly-cog:before {
  content: "\E019";
}
.uiex-gly-trash:before {
  content: "\E020";
}
.uiex-gly-home:before {
  content: "\E021";
}
.uiex-gly-file:before {
  content: "\E022";
}
.uiex-gly-time:before {
  content: "\E023";
}
.uiex-gly-road:before {
  content: "\E024";
}
.uiex-gly-download-alt:before {
  content: "\E025";
}
.uiex-gly-download:before {
  content: "\E026";
}
.uiex-gly-upload:before {
  content: "\E027";
}
.uiex-gly-inbox:before {
  content: "\E028";
}
.uiex-gly-play-circle:before {
  content: "\E029";
}
.uiex-gly-repeat:before {
  content: "\E030";
}
.uiex-gly-refresh:before {
  content: "\E031";
}
.uiex-gly-list-alt:before {
  content: "\E032";
}
.uiex-gly-lock:before {
  content: "\E033";
}
.uiex-gly-flag:before {
  content: "\E034";
}
.uiex-gly-headphones:before {
  content: "\E035";
}
.uiex-gly-volume-off:before {
  content: "\E036";
}
.uiex-gly-volume-down:before {
  content: "\E037";
}
.uiex-gly-volume-up:before {
  content: "\E038";
}
.uiex-gly-qrcode:before {
  content: "\E039";
}
.uiex-gly-barcode:before {
  content: "\E040";
}
.uiex-gly-tag:before {
  content: "\E041";
}
.uiex-gly-tags:before {
  content: "\E042";
}
.uiex-gly-book:before {
  content: "\E043";
}
.uiex-gly-bookmark:before {
  content: "\E044";
}
.uiex-gly-print:before {
  content: "\E045";
}
.uiex-gly-camera:before {
  content: "\E046";
}
.uiex-gly-font:before {
  content: "\E047";
}
.uiex-gly-bold:before {
  content: "\E048";
}
.uiex-gly-italic:before {
  content: "\E049";
}
.uiex-gly-text-height:before {
  content: "\E050";
}
.uiex-gly-text-width:before {
  content: "\E051";
}
.uiex-gly-align-left:before {
  content: "\E052";
}
.uiex-gly-align-center:before {
  content: "\E053";
}
.uiex-gly-align-right:before {
  content: "\E054";
}
.uiex-gly-align-justify:before {
  content: "\E055";
}
.uiex-gly-list:before {
  content: "\E056";
}
.uiex-gly-indent-left:before {
  content: "\E057";
}
.uiex-gly-indent-right:before {
  content: "\E058";
}
.uiex-gly-facetime-video:before {
  content: "\E059";
}
.uiex-gly-picture:before {
  content: "\E060";
}
.uiex-gly-pencil:before {
  content: "\E061";
}
.uiex-gly-map-marker:before {
  content: "\E062";
}
.uiex-gly-adjust:before {
  content: "\E063";
}
.uiex-gly-tint:before {
  content: "\E064";
}
.uiex-gly-edit:before {
  content: "\E065";
}
.uiex-gly-share:before {
  content: "\E066";
}
.uiex-gly-check:before {
  content: "\E067";
}
.uiex-gly-move:before {
  content: "\E068";
}
.uiex-gly-step-backward:before {
  content: "\E069";
}
.uiex-gly-fast-backward:before {
  content: "\E070";
}
.uiex-gly-backward:before {
  content: "\E071";
}
.uiex-gly-play:before {
  content: "\E072";
}
.uiex-gly-pause:before {
  content: "\E073";
}
.uiex-gly-stop:before {
  content: "\E074";
}
.uiex-gly-forward:before {
  content: "\E075";
}
.uiex-gly-fast-forward:before {
  content: "\E076";
}
.uiex-gly-step-forward:before {
  content: "\E077";
}
.uiex-gly-eject:before {
  content: "\E078";
}
.uiex-gly-chevron-left:before {
  content: "\E079";
}
.uiex-gly-chevron-right:before {
  content: "\E080";
}
.uiex-gly-plus-sign:before {
  content: "\E081";
}
.uiex-gly-minus-sign:before {
  content: "\E082";
}
.uiex-gly-remove-sign:before {
  content: "\E083";
}
.uiex-gly-ok-sign:before {
  content: "\E084";
}
.uiex-gly-question-sign:before {
  content: "\E085";
}
.uiex-gly-info-sign:before {
  content: "\E086";
}
.uiex-gly-screenshot:before {
  content: "\E087";
}
.uiex-gly-remove-circle:before {
  content: "\E088";
}
.uiex-gly-ok-circle:before {
  content: "\E089";
}
.uiex-gly-ban-circle:before {
  content: "\E090";
}
.uiex-gly-arrow-left:before {
  content: "\E091";
}
.uiex-gly-arrow-right:before {
  content: "\E092";
}
.uiex-gly-arrow-up:before {
  content: "\E093";
}
.uiex-gly-arrow-down:before {
  content: "\E094";
}
.uiex-gly-share-alt:before {
  content: "\E095";
}
.uiex-gly-resize-full:before {
  content: "\E096";
}
.uiex-gly-resize-small:before {
  content: "\E097";
}
.uiex-gly-plus:before {
  content: "\E098";
}
.uiex-gly-minus:before {
  content: "\E099";
}
.uiex-gly-asterisk:before {
  content: "\E100";
}
.uiex-gly-exclamation-sign:before {
  content: "\E101";
}
.uiex-gly-gift:before {
  content: "\E102";
}
.uiex-gly-leaf:before {
  content: "\E103";
}
.uiex-gly-fire:before {
  content: "\E104";
}
.uiex-gly-eye-open:before {
  content: "\E105";
}
.uiex-gly-eye-close:before {
  content: "\E106";
}
.uiex-gly-warning-sign:before {
  content: "\E107";
}
.uiex-gly-plane:before {
  content: "\E108";
}
.uiex-gly-calendar:before {
  content: "\E109";
}
.uiex-gly-random:before {
  content: "\E110";
}
.uiex-gly-comments:before {
  content: "\E111";
}
.uiex-gly-magnet:before {
  content: "\E112";
}
.uiex-gly-chevron-up:before {
  content: "\E113";
}
.uiex-gly-chevron-down:before {
  content: "\E114";
}
.uiex-gly-retweet:before {
  content: "\E115";
}
.uiex-gly-shopping-cart:before {
  content: "\E116";
}
.uiex-gly-folder-close:before {
  content: "\E117";
}
.uiex-gly-folder-open:before {
  content: "\E118";
}
.uiex-gly-resize-vertical:before {
  content: "\E119";
}
.uiex-gly-resize-horizontal:before {
  content: "\E120";
}
.uiex-gly-hdd:before {
  content: "\E121";
}
.uiex-gly-bullhorn:before {
  content: "\E122";
}
.uiex-gly-bell:before {
  content: "\E123";
}
.uiex-gly-certificate:before {
  content: "\E124";
}
.uiex-gly-thumbs-up:before {
  content: "\E125";
}
.uiex-gly-thumbs-down:before {
  content: "\E126";
}
.uiex-gly-hand-right:before {
  content: "\E127";
}
.uiex-gly-hand-left:before {
  content: "\E128";
}
.uiex-gly-hand-top:before {
  content: "\E129";
}
.uiex-gly-hand-down:before {
  content: "\E130";
}
.uiex-gly-circle-arrow-right:before {
  content: "\E131";
}
.uiex-gly-circle-arrow-left:before {
  content: "\E132";
}
.uiex-gly-circle-arrow-top:before {
  content: "\E133";
}
.uiex-gly-circle-arrow-down:before {
  content: "\E134";
}
.uiex-gly-globe:before {
  content: "\E135";
}
.uiex-gly-wrench:before {
  content: "\E136";
}
.uiex-gly-tasks:before {
  content: "\E137";
}
.uiex-gly-filter:before {
  content: "\E138";
}
.uiex-gly-briefcase:before {
  content: "\E139";
}
.uiex-gly-fullscreen:before {
  content: "\E140";
}
.uiex-gly-dashboard:before {
  content: "\E141";
}
.uiex-gly-paperclip:before {
  content: "\E142";
}
.uiex-gly-heart-empty:before {
  content: "\E143";
}
.uiex-gly-link:before {
  content: "\E144";
}
.uiex-gly-phone:before {
  content: "\E145";
}
.uiex-gly-pushpin:before {
  content: "\E146";
}
.uiex-gly-euro:before {
  content: "\E147";
}
.uiex-gly-usd:before {
  content: "\E148";
}
.uiex-gly-gbp:before {
  content: "\E149";
}
.uiex-gly-sort:before {
  content: "\E150";
}
.uiex-gly-sort-by-alphabet:before {
  content: "\E151";
}
.uiex-gly-sort-by-alphabet-alt:before {
  content: "\E152";
}
.uiex-gly-sort-by-order:before {
  content: "\E153";
}
.uiex-gly-sort-by-order-alt:before {
  content: "\E154";
}
.uiex-gly-sort-by-attributes:before {
  content: "\E155";
}
.uiex-gly-sort-by-attributes-alt:before {
  content: "\E156";
}
.uiex-gly-unchecked:before {
  content: "\E157";
}
.uiex-gly-expand:before {
  content: "\E158";
}
.uiex-gly-collapse:before {
  content: "\E159";
}
.uiex-gly-collapse-top:before {
  content: "\E160";
}
.uiex-gly-log-in:before {
  content: "\E161";
}
.uiex-gly-flash:before {
  content: "\E162";
}
.uiex-gly-log-out:before {
  content: "\E163";
}
.uiex-gly-new-window:before {
  content: "\E164";
}
.uiex-gly-record:before {
  content: "\E165";
}
.uiex-gly-save:before {
  content: "\E166";
}
.uiex-gly-open:before {
  content: "\E167";
}
.uiex-gly-saved:before {
  content: "\E168";
}
.uiex-gly-import:before {
  content: "\E169";
}
.uiex-gly-export:before {
  content: "\E170";
}
.uiex-gly-send:before {
  content: "\E171";
}
.uiex-gly-floppy-disk:before {
  content: "\E172";
}
.uiex-gly-floppy-saved:before {
  content: "\E173";
}
.uiex-gly-floppy-remove:before {
  content: "\E174";
}
.uiex-gly-floppy-save:before {
  content: "\E175";
}
.uiex-gly-floppy-open:before {
  content: "\E176";
}
.uiex-gly-credit-card:before {
  content: "\E177";
}
.uiex-gly-transfer:before {
  content: "\E178";
}
.uiex-gly-cutlery:before {
  content: "\E179";
}
.uiex-gly-header:before {
  content: "\E180";
}
.uiex-gly-compressed:before {
  content: "\E181";
}
.uiex-gly-earphone:before {
  content: "\E182";
}
.uiex-gly-phone-alt:before {
  content: "\E183";
}
.uiex-gly-tower:before {
  content: "\E184";
}
.uiex-gly-stats:before {
  content: "\E185";
}
.uiex-gly-sd-video:before {
  content: "\E186";
}
.uiex-gly-hd-video:before {
  content: "\E187";
}
.uiex-gly-subtitles:before {
  content: "\E188";
}
.uiex-gly-sound-stereo:before {
  content: "\E189";
}
.uiex-gly-sound-dolby:before {
  content: "\E190";
}
.uiex-gly-sound-5-1:before {
  content: "\E191";
}
.uiex-gly-sound-6-1:before {
  content: "\E192";
}
.uiex-gly-sound-7-1:before {
  content: "\E193";
}
.uiex-gly-copyright-mark:before {
  content: "\E194";
}
.uiex-gly-registration-mark:before {
  content: "\E195";
}
.uiex-gly-cloud:before {
  content: "\E196";
}
.uiex-gly-cloud-download:before {
  content: "\E197";
}
.uiex-gly-cloud-upload:before {
  content: "\E198";
}
.uiex-gly-tree-conifer:before {
  content: "\E199";
}
.uiex-gly-tree-deciduous:before {
  content: "\E200";
}
.uiex-gly-cd:before {
  content: "\E201";
}
.uiex-gly-save-file:before {
  content: "\E202";
}
.uiex-gly-open-file:before {
  content: "\E203";
}
.uiex-gly-level-up:before {
  content: "\E204";
}
.uiex-gly-copy:before {
  content: "\E205";
}
.uiex-gly-paste:before {
  content: "\E206";
}
.uiex-gly-door:before {
  content: "\E207";
}
.uiex-gly-key:before {
  content: "\E208";
}
.uiex-gly-alert:before {
  content: "\E209";
}
.uiex-gly-equalizer:before {
  content: "\E210";
}
.uiex-gly-king:before {
  content: "\E211";
}
.uiex-gly-queen:before {
  content: "\E212";
}
.uiex-gly-pawn:before {
  content: "\E213";
}
.uiex-gly-bishop:before {
  content: "\E214";
}
.uiex-gly-knight:before {
  content: "\E215";
}
.uiex-gly-baby-formula:before {
  content: "\E216";
}
.uiex-gly-tent:before {
  content: "\E217";
}
.uiex-gly-blackboard:before {
  content: "\E218";
}
.uiex-gly-bed:before {
  content: "\E219";
}
.uiex-gly-apple:before {
  content: "\E220";
}
.uiex-gly-erase:before {
  content: "\E221";
}
.uiex-gly-hourglass:before {
  content: "\E222";
}
.uiex-gly-lamp:before {
  content: "\E223";
}
.uiex-gly-duplicate:before {
  content: "\E224";
}
.uiex-gly-piggy-bank:before {
  content: "\E225";
}
.uiex-gly-scissors:before {
  content: "\E226";
}
.uiex-gly-bitcoin:before {
  content: "\E227";
}
.uiex-gly-yen:before {
  content: "\E228";
}
.uiex-gly-ruble:before {
  content: "\E229";
}
.uiex-gly-scale:before {
  content: "\E230";
}
.uiex-gly-ice-lolly:before {
  content: "\E231";
}
.uiex-gly-ice-lolly-tasted:before {
  content: "\E232";
}
.uiex-gly-education:before {
  content: "\E233";
}
.uiex-gly-option-horizontal:before {
  content: "\E234";
}
.uiex-gly-option-vertical:before {
  content: "\E235";
}
.uiex-gly-menu-hamburger:before {
  content: "\E236";
}
.uiex-gly-modal-window:before {
  content: "\E237";
}
.uiex-gly-oil:before {
  content: "\E238";
}
.uiex-gly-grain:before {
  content: "\E239";
}
.uiex-gly-sunglasses:before {
  content: "\E240";
}
.uiex-gly-text-size:before {
  content: "\E241";
}
.uiex-gly-text-color:before {
  content: "\E242";
}
.uiex-gly-text-background:before {
  content: "\E243";
}
.uiex-gly-object-align-top:before {
  content: "\E244";
}
.uiex-gly-object-align-bottom:before {
  content: "\E245";
}
.uiex-gly-object-align-horizontal:before {
  content: "\E246";
}
.uiex-gly-object-align-left:before {
  content: "\E247";
}
.uiex-gly-object-align-vertical:before {
  content: "\E248";
}
.uiex-gly-object-align-right:before {
  content: "\E249";
}
.uiex-gly-triangle-right:before {
  content: "\E250";
}
.uiex-gly-triangle-left:before {
  content: "\E251";
}
.uiex-gly-triangle-bottom:before {
  content: "\E252";
}
.uiex-gly-triangle-top:before {
  content: "\E253";
}
.uiex-gly-terminal:before {
  content: "\E254";
}
.uiex-gly-superscript:before {
  content: "\E255";
}
.uiex-gly-subscript:before {
  content: "\E256";
}
.uiex-gly-menu-left:before {
  content: "\E257";
}
.uiex-gly-menu-right:before {
  content: "\E258";
}
.uiex-gly-menu-down:before {
  content: "\E259";
}
.uiex-gly-menu-up:before {
  content: "\E260";
}
.uiex-gly-building:before {
  content: "\E261";
}
.uiex-gly-tick:before {
  content: "\E262";
}
.uiex-gly-star-half:before {
  content: "\E263";
}
.uiex-gly-hash:before {
  content: "\E264";
}
.uiex-gly-directions:before {
  content: "\E265";
}
.uiex-gly-gas:before {
  content: "\E266";
}
.uiex-gly-snowflake:before {
  content: "\E267";
}
.uiex-gly-sunlight:before {
  content: "\E268";
}
.uiex-gly-selectbox:before {
  content: "\E269";
}
.uiex-gly-sortable:before {
  content: "\E270";
}
.uiex-gly-note-empty:before {
  content: "\E271";
}
.uiex-gly-note:before {
  content: "\E272";
}
.uiex-gly-direction-right:before {
  content: "\E273";
}
.uiex-gly-direction-left:before {
  content: "\E274";
}
.uiex-gly-direction-down:before {
  content: "\E275";
}
.uiex-gly-direction-up:before {
  content: "\E276";
}
.uiex-gly-parking:before {
  content: "\E277";
}
.uiex-gly-coffee-cup:before {
  content: "\E278";
}
.uiex-gly-record-empty:before {
  content: "\E279";
}
.uiex-gly-move-square:before {
  content: "\E280";
}
.uiex-gly-bug:before {
  content: "\E281";
}
.uiex-gly-display:before {
  content: "\E282";
}
.uiex-gly-direction:before {
  content: "\E283";
}
.uiex-gly-group:before {
  content: "\E284";
}
.uiex-gly-reflect-y:before {
  content: "\E285";
}
.uiex-gly-reflect-x:before {
  content: "\E286";
}
.uiex-gly-battery-charging:before {
  content: "\E287";
}
.uiex-gly-battery-full:before {
  content: "\E288";
}
.uiex-gly-battery-75:before {
  content: "\E289";
}
.uiex-gly-battery-50:before {
  content: "\E290";
}
.uiex-gly-battery-25:before {
  content: "\E291";
}
.uiex-gly-battery-10:before {
  content: "\E292";
}
.uiex-gly-paired:before {
  content: "\E293";
}
.uiex-gly-rotate-right:before {
  content: "\E294";
}
.uiex-gly-rotate-left:before {
  content: "\E295";
}
.uiex-gly-list-numbered:before {
  content: "\E296";
}
.uiex-gly-paragraph:before {
  content: "\E297";
}
.uiex-gly-list-plus:before {
  content: "\E298";
}
.uiex-gly-synchronization:before {
  content: "\E299";
}
.uiex-gly-cube-black:before {
  content: "\E300";
}