.uiex-scroll-container {
	height: 500px;
	min-width: 100px;
	position: relative;
	border: 1px solid #aaa;

	.uiex-scroll-container-outer-content {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
	}
	.uiex-scroll-container-outer {
		width: 100% !important;
		height: 100% !important;
		position: relative;
		overflow: hidden;
	}	
	.uiex-scroll-container-inner {
		position: absolute;
		left: 0;
		right: 15px;
		top: 0;
	}
	.uiex-scroll-container-bar {
		position: absolute;
		width: 15px;
		right: 0px;
		top: 0;
		bottom: 0;
		background-color: #aaa;
	}
	.uiex-scroll-container-scroller {
		position: absolute;
		width: 15px;
		top: 0;
		left: 0;
		right: 0;
		background-color: #555;
	}
	
	&.uiex-disabled {
		.uiex-scroll-container-bar {
			opacity: 0.5;
		}
	}
}