.uiex-scroll-container {
	height: 500px;
	min-width: 100px;
	position: relative;
	box-sizing: border-box;
	&:focus {
		outline: 0;
	}

	.uiex-scroll-container-outer-content {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
	}
	.uiex-scroll-container-outer {
		width: 100% !important;
		height: 100% !important;
		position: relative;
		overflow: hidden;
	}	
	.uiex-scroll-container-inner {
		position: absolute;
		left: 0;
		right: 12px;
		top: 0;
	}
	.uiex-scroll-container-track {
		position: absolute;
		width: 12px;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: #aaa;
	}
	.uiex-scroll-container-slider {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		background-color: #555;
	}
	.uiex-scroll-container-top-mask {
		position: absolute;
		top: 0;
		right: 12px;
		left: 0;
		height: 40px;
		display: none;
	}
	.uiex-scroll-container-bottom-mask {
		position: absolute;
		bottom: 0;
		right: 12px;
		left: 0;
		height: 50px;
		display: none;
	}
	.uiex-scroll-container-indicator {
		position: absolute;
		right: 100%;
		margin-right: 15px;
		top: 50%;
		margin-top: -15px;
		line-height: 26px;
		background-color: #000;
		opacity: 0.75;
		color: #f1f1f1;
		padding: 0 10px;
		border-radius: 5px;
		font-size: 13px;
		border: 1px solid #eee;
	}
	
	&.uiex-disabled {
		.uiex-scroll-container-track {
			opacity: 0.5;
		}
	}
	&.uiex-without-scrollbar {
		.uiex-scroll-container-track {
			visibility: hidden !important;
		}
		.uiex-scroll-container-inner {
			left: 0 !important;
			right: 0 !important;
		}
	}
	&.uiex-scrollbar-at-left {
		.uiex-scroll-container-track {
			left: 0;
			right: auto;
		}
		.uiex-scroll-container-top-mask,
		.uiex-scroll-container-bottom-mask,
		.uiex-scroll-container-inner {
			left: 12px;
			right: 0;
		}
		.uiex-scroll-container-indicator {
			right: auto;
			left: 100%;
			margin-right: 0;
			margin-left: 15px;
		}
	}
	&.uiex-transparent-track {
		.uiex-scroll-container-track {
			background-color: transparent !important;
		}
	}
	&.uiex-overlaid-scrollbar {
		.uiex-scroll-container-track {
			opacity: 0.8;
			transition: opacity .3s;
		}
		.uiex-scroll-container-inner {
			left: 0 !important;
			right: 0 !important;
		}
	}
	&.uiex-hidden-scrollbar {
		.uiex-scroll-container-track {
			opacity: 0;
			transition: opacity .3s;
		}
	}
	&.uiex-dragging,
	&:hover:not(.uiex-disabled) {
		.uiex-scroll-container-track {
			opacity: 1;
		}
		&.uiex-overlaid-scrollbar {
			.uiex-scroll-container-track {
				opacity: 0.8;
			}	
		}
	}
}