.uiex-input.uiex-phone-input {
	&.uiex-with-code input,
	&.uiex-with-code textarea {
		padding-left: 44px;
	}
	.uiex-phone-code {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 36px;
		display: flex;
		font-size: 14px;
		align-items: center;
		justify-content: center;
		border-right: 1px solid #aaa;
		color: #777;
	}
}