.uiex-input.uiex-date-input {
	&:not(.uiex-without-icon) {
		input {
			padding-left: 40px;
		}
	}
	.uiex-input-date-icon {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 38px;
		display: flex;
		justify-content: center;
		align-items: center;

		.uiex-icon {
			font-size: 24px;
			color: #888;
		}
	}
	&.uiex-focused {
		.uiex-input-date-icon {
			.uiex-icon {
				color: #555;
			}
		}
	}
	&.uiex-valid {
		.uiex-input-date-icon {
			.uiex-icon {
				color: #609600;
			}
		}
	}
	&.uiex-invalid {
		.uiex-input-date-icon {
			.uiex-icon {
				color: #f53535;
			}
		}
	}
}