.uiex-checkbox {	
	display: inline-block;

	.uiex-checkbox-main-content {
		display: flex;
		user-select: none;
		-moz-user-select: none;
		float: left;
		&:hover {
			& > .uiex-checkbox-label {
				color: #333;
			}
		}
	}

	.uiex-checkbox-control {
		position: relative;
		width: 20px;
		height: 20px;
		border-radius: 2px;
		background-color: #fff;
		border: 1px solid #aaa;
		cursor: pointer;
		box-sizing: border-box;
		margin-right: 8px;
		flex-shrink: 0;
	}

	.uiex-checkbox-marker {
		position: absolute;
		left: 2px;
		top: 2px;
		right: 2px;
		bottom: 2px;
		border-radius: 2px;
		background-color: #888;
		color: #888;
		font-size: 18px;
		display: none;
	}

	&:not(.uiex-read-only):not(.uiex-disabled) {
		& > .uiex-checkbox-main-content:hover {
			& > .uiex-checkbox-control {
				border-color: #777;
				& > .uiex-checkbox-marker {
					background-color: #555;
					color: #555;
				}
			}
		}
	}

	&.uiex-with-icon {
		& > .uiex-checkbox-main-content {
			& > .uiex-checkbox-control {
				& > .uiex-checkbox-marker {
					background-color: transparent !important;
				}
			}
		}
		&.uiex-checked {
			& > .uiex-checkbox-main-content {
				& > .uiex-checkbox-control {
					background-color: #555;
					border-color: #555;
					& > .uiex-checkbox-marker {
						color: #fff;
					}
				}
			}
			& > .uiex-checkbox-main-content:hover {
				& > .uiex-checkbox-control {
					background-color: #444;
					border-color: #444;
				}
			}
		}
	}

	&.uiex-checked,
	&.uiex-undetermined {
		& > .uiex-checkbox-main-content {
			& > .uiex-checkbox-control {
				& > .uiex-checkbox-marker {
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}
	}
	&.uiex-undetermined:not(.uiex-with-icon) {
		& > .uiex-checkbox-main-content {
			& > .uiex-checkbox-control {
				& > .uiex-checkbox-marker {
					opacity: 0.4;
					border: 1px solid #000;
				}
			}
		}
	}
	&.uiex-disabled {
		.uiex-checkbox-main-content {
			.uiex-checkbox-control {
				background-color: #f1f1f1;
				border-color: #bbb;
				cursor: not-allowed;
			}
			.uiex-checkbox-marker {
				opacity: 0.5;
				cursor: not-allowed;
			}		
			.uiex-checkbox-label > span {
				cursor: not-allowed !important;
			}
		}
		&.uiex-undetermined:not(.uiex-with-icon) {
			.uiex-checkbox-main-content {
				.uiex-checkbox-marker {
					opacity: 0.2;
					border: 1px solid #333;
				}
			}
		}
	}

	.uiex-checkbox-label {
		display: block;
		padding-bottom: 2px;
		font-size: 15px;
		line-height: 18px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		word-break: normal;
		& > span {
			cursor: pointer;
		}
	}

	.uiex-checkbox-content {
		& > .uiex-checkbox-group {
			cursor: default;
			border: 0;
			border-radius: 0;
		    background-color: transparent;
		    box-shadow: none;
		    padding: 15px 0 10px 28px;

		    & > .uiex-checkbox-group-controls {
		    	padding: 0;
		    	overflow: visible;
		    }
		}
	}
	&:last-child {
		& > .uiex-checkbox-content {
			& > .uiex-checkbox-group {
				padding-bottom: 0;
			}
		}
	}
	.uiex-checkbox-additional-content {
		margin-top: 3px;
	}

	&.uiex-multilined {
		.uiex-checkbox-label {
			white-space: normal;
			word-break: break-all;
			text-overflow: clip;
			overflow: visible;
		}
	}
	&.uiex-with-child-group {
		&:first-child {
			margin-top: 0;
		}
		& > .uiex-checkbox-label {
			font-weight: bold;
			font-size: larger;
		}
		& > .uiex-checkbox-additional-content {
			margin-top: 0;
		}
	}
}