.uiex-input.uiex-number-input {
	input,
	textarea {
		padding-right: 35px;
	}
	.uiex-input-clear {
		right: 30px;
	}
	&.uiex-without-controls {
		.uiex-input-clear {
			right: 8px;
		}
		&.uiex-with-measure {
			.uiex-input-measure {
				right: 12px;
			}
			&.uiex-clearable {
				.uiex-input-measure {
					right: 35px;
				}
			}
		}
	}
	&.uiex-with-measure {
		input,
		textarea {
			padding-right: 60px;
		}
		
		&.uiex-clearable {
			input,
			textarea {
				padding-right: 85px;
			}
			.uiex-input-measure {
				right: 60px;
			}
		}
		&.uiex-disabled {
			.uiex-input-measure {
				cursor: not-allowed;
				color: #bbb;
			}
		}
		
		.uiex-input-measure {
			position: absolute;
			right: 35px;
			color: #777;
			font-size: 14px;
			top: 0;
			bottom: 0;
			display: flex;
			align-items: center;
			user-select: none;
			-moz-user-select: none;
			font-weight: normal;

			&.uiex-multi-measure {
				cursor: pointer;
				&:hover {
					color: #000;
				}
			}
		}
	}
	.uiex-input-controls {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		width: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		
		.uiex-arrow {
			background-color: #555;
			&.uiex-disabled {
				background-color: #c5c5c5;
			}
			&:hover:not(.uiex-disabled) {
				background-color: #333;
			}
		}
		*:nth-child(2) {
			margin-top: 8px;
		}
	}
}