.uiex-date-picker {
	min-width: 300px;
	display: inline-block;
	box-shadow: 0px 0px 4px #ddd;	
	border: 1px solid #ccc;
	border-radius: 3px;
	background-color: #FFFFFF;
	box-sizing: border-box;
	text-align: center;
}