.uiex-box-section {
	position: relative;
	display: block;

	.uiex-box-section-caption {
		display: inline-flex;
		align-items: center;
		font-size: 20px;
		line-height: 20px;
		font-weight: bold;
		height: 42px;
		cursor: pointer;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		user-select: none;

		.uiex-icon {
			font-size: 28px;
			line-height: 20px;
		}
		&:hover {
			color: #222;
		}
	}
	.uiex-box-section-note {
		position: absolute;
		right: 0;
		top: 11px;
		font-size: 14px;
		color: #777;
		cursor: pointer;
	}
	& > .uiex-box {
		& > .uiex-box-inner {
			padding-top: 15px;
		}
	}
	&.uiex-icon-at-right {
		&.uiex-view-header {
			.uiex-box-section-caption {
				justify-content: space-between;
			}
			.uiex-box-section-note {
				right: 60px;
			}
		}
		.uiex-box-section-caption {
			flex-direction: row-reverse;			
		}
	}
	&.uiex-disabled {
		.uiex-box-section-caption {
			color: #ccc;
			cursor: not-allowed;
		}
		&.uiex-view-header {
			.uiex-box-section-caption {
				background-color: #f1f1f1 !important;
			}
		}
	}
	&.uiex-view-header {
		.uiex-box-section-caption {
			display: flex;
			background-color: #ececec;
			border-bottom: 2px solid #dadada;
			padding: 0 15px;
			line-height: 20px;
			&:hover {
				background-color: #eee;
			}
		}
		.uiex-box-section-note {
			right: 15px;
		}
	}
	&.uiex-view-small {
		.uiex-box-section-caption {
			font-size: 14px;
			line-height: 14px;
			height: auto;
			
			.uiex-icon {
				font-size: 18px;
				line-height: 14px;
			}
		}
		.uiex-box-section-note {
			top: 0;
			font-size: 12px;
		}
		& > .uiex-box {
			& > .uiex-box-inner {
				padding-top: 5px;
			}
		}
	}
}
