.uiex-box-section {
	position: relative;
	display: block;

	.uiex-box-section-caption {
		display: flex;
		align-items: center;
		font-size: 20px;
		line-height: 20px;
		font-weight: bold;
		padding: 0 15px;
		height: 42px;
		background-color: #ececec;
		cursor: pointer;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		border-bottom: 2px solid #dadada;
		user-select: none;

		.uiex-icon {
			font-size: 28px;
		}
		&:hover {
			background-color: #eee;
		}
	}
	.uiex-box-section-note {
		position: absolute;
		right: 15px;
		top: 11px;
		font-size: 14px;
		color: #777;
		cursor: pointer;
	}
	& > .uiex-box {
		& > .uiex-box-inner {
			padding-top: 15px;
		}
	}
	&.uiex-icon-at-right {
		.uiex-box-section-caption {
			flex-direction: row-reverse;
			justify-content: space-between;
		}
		.uiex-box-section-note {
			right: 60px;
		}
	}
	&.uiex-disabled {
		.uiex-box-section-caption {
			color: #ccc;
			cursor: not-allowed;
			background-color: #f1f1f1 !important;
		}
	}
}
