.uiex-box {
	position: relative;
	overflow: hidden;
	margin-bottom: 15px;
	display: block;
	
	&.uiex-not-animated {
		height: auto !important;
	}
	&.uiex-animated {
		&.uiex-animation-roll {
			transition-property: height, marginTop, marginBottom, paddingTop, paddingBottom;
		}
		&.uiex-animation-fall {
			transition-property: height, marginTop, marginBottom, paddingTop, paddingBottom;
			display: flex;
			align-items: flex-end;
		}
		&.uiex-animation-fade {
			transition-property: opacity;
		}
		&.uiex-animation-fade-fall {
			display: flex;
			align-items: flex-end;
			transition-property: height, opacity, marginTop, marginBottom, paddingTop, paddingBottom;
		}
		&.uiex-animation-fade-roll {
			transition-property: height, opacity, marginTop, marginBottom, paddingTop, paddingBottom;
		}
	}
	.uiex-box-inner {
		width: 100%;
	}
}
.uiex-box-button {
	margin-bottom: 15px;
}