.uiex-form {
	display: block;
	
	.uiex-form-caption {
		padding-bottom: 10px;
		font-size: 18px;
	}
	.uiex-form-buttons {
		margin-top: 15px;
		text-align: right;
	}
	.uiex-form-control-group {
		&:last-child {
			margin-bottom: 0 !important;
		}
	}
}