$black: #333;
$darkblack: #111;
$black_hover: #222;
$darkblack_hover: #000;

$gray: #d1d1d1;
$darkgray: #929090;
$gray_hover: #e1e1e1;
$darkgray_hover: #929090;

$white: #fff;
$darkwhite: #aaa;
$white_hover: #fff;
$darkwhite_hover: #888;

$green: #53bb44;
$darkgreen: #328c26;
$green_hover: #5dc54e;
$darkgreen_hover: #297d1e;

$red: #e60614;
$darkred: #8e000a;
$red_hover: #ff2734;
$darkred_hover: #8e000a;

$blue: #4a90e4;
$darkblue: #225fa7;
$blue_hover: #559cf1;
$darkblue_hover: #185092;

$yellow: #f9e622;
$darkyellow: #ab9c00;
$yellow_hover: #efdc1a;
$darkyellow_hover: #ab9c00;

$orange: #ffab32;
$darkorange: #a05f00;
$orange_hover: #ffbf15;
$darkorange_hover: #a05f00;

