.uiex-gallery {
    &.uiex-behavior-float-left {
        .uiex-image {
            float: left;
        }
        .uiex-gallery-inner {
            &::after {
                content: '';
                display: block;
                clear: left;
            }
        }
    }
    &.uiex-behavior-float-right {
        .uiex-image {
            float: right;
        }
        .uiex-gallery-inner {
            &::after {
                content: '';
                display: block;
                clear: right;
            }
        }
    }
    &.uiex-behavior-flex-start {
        .uiex-gallery-inner {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
        }
    }
    &.uiex-behavior-flex-end {
        .uiex-gallery-inner {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
        }
    }
    &.uiex-behavior-flex-center {
        .uiex-gallery-inner {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    &.uiex-behavior-flex-space-between {
        .uiex-gallery-inner {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
    &.uiex-behavior-flex-space-around {
        .uiex-gallery-inner {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
    &.uiex-behavior-grid {
        .uiex-image.uiex-image {
            width: 100% !important;
            img {
                width: 100% !important;
                display: block;
            }
            .uiex-image-reflection,
            .uiex-image-inner {
                width: 100% !important;
            }
        }
    }
    .uiex-gallery-outer {
        overflow: hidden;
    }
    .uiex-image {
        width: auto !important;
        height: auto !important;
        cursor: pointer;
    }
    .uiex-gallery-extra-content {
        margin: 20px 0;
    }
}