.uiex-input {
	display: inline-block;
	min-width: 40px !important;

	.uiex-input-inner {
		position: relative;
		height: 100%;
		font-size: 14px;
	}
	
	&.uiex-textarea {
		height: 80px;
	}
	&.uiex-align-center {
		input,
		textarea {
			text-align: center;
		}
	}
	&.uiex-align-right {
		input,
		textarea {
			text-align: right;
		}
	}

	&.uiex-disabled {
		input,
		textarea {
			background-color: #f1f1f1 !important;
			cursor: not-allowed !important;
			color: #c1c1c1 !important;
			border-color: #bbb !important;
		}
	}
	&.uiex-readonly:not(.uiex-disabled) {
		input,
		textarea {
			cursor: default;
		}
	}
	&.uiex-readonly {
		input,
		textarea {
			user-select: none;
		}
	}
	&.uiex-clearable {
		.uiex-input-clear {
			display: flex;
		}
		input,
		textarea {
			padding-right: 35px;
		}
	}
	&.uiex-valid {
		& > .uiex-input-inner {
			& > input,
			& > textarea {
				border-color: #78bb00 !important;
    			box-shadow: inset -3px -3px 5px #ddead6;
				&:focus {
					border-color: #60a000 !important;
    				box-shadow: inset 3px 3px 5px #d8e8cb;
				}
			}
		}
	}
	&.uiex-invalid {
		& > .uiex-input-inner {
			& > input,
			& > textarea {
				color: #b70909 !important;
				border-color: #fb3239 !important;
				box-shadow: inset -3px -3px 5px #ffddde;
				&:focus {
					border-color: #d4050b !important;
					box-shadow: inset 3px 3px 5px #f1c9ca;
				}
			}
		}
	}
	.uiex-input-clear {
		display: none;
		position: absolute;
		right: 8px;
		top: 50%;
		margin-top: -9px;
		width: 18px;
		height: 18px;
		font-size: 16px;
		color: #fff;
		background-color: #888;
		border-radius: 50%;
		cursor: pointer;
		align-items: center;
    	justify-content: center;

		&:hover {
			background-color: #555;
		}
	}
	&.uiex-textarea {
		.uiex-input-clear {
			top: 12px;
			margin-top: 0;
		}
	}

	input,
	textarea {
		width: 100%;
		box-sizing: border-box;
		padding: 10px 12px;
		font-size: 14px;
		border-radius: 2px;
		background-color: #fff;
		border: 1px solid #aaa;
		box-shadow: inset -3px -3px 7px #f1f1f1;
		transition: border-color .3s, box-shadow .3s;
		color: #555;

		&:focus {
			outline: 0;
			border-color: #888;
			box-shadow: inset 3px 3px 7px #e4e4e4;
			color: #000;
		}
		
	}
	textarea {
		height: 100%;
		resize: none;
	}
	input::-webkit-input-placeholder {
		color: #aaa;
		transition: color .3s;
	}
	input::-moz-placeholder {
		color: #aaa;
		transition: color .3s;
	}
	input:-ms-input-placeholder {
		color: #aaa;
		transition: color .3s;
	}
	input:focus::-webkit-input-placeholder {
		color: #ddd;
	}
	input:focus::-moz-placeholder {
		color: #ddd;
	}
	input:focus:-ms-input-placeholder {
		color: #ddd;
	}
	textarea::-webkit-input-placeholder {
		color: #aaa;
		transition: color .3s;
	}
	textarea::-moz-placeholder {
		color: #aaa;
		transition: color .3s;
	}
	textarea:-ms-input-placeholder {
		color: #aaa;
		transition: color .3s;
	}
	textarea:focus::-webkit-input-placeholder {
		color: #ddd;
	}
	textarea:focus::-moz-placeholder {
		color: #ddd;
	}
	textarea:focus:-ms-input-placeholder {
		color: #ddd;
	}
	.uiex-input-indicator {
		font-size: 13px;
		text-align: right;
		color: #888;
		padding-top: 4px;
	}
}